* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #081b31;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.choice {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color: black;

}

img {
    height: 165px;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
}

img:hover {
    cursor: pointer;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}

#comp-score,
#user-score {
    font-size: 4rem;
}

#message {
    background-color: #081b31;
    display: inline;
    margin-top: 5rem;
    color: #fff;
    font-size: 2.3rem;
    padding: 1rem;
    border-radius: 1rem;
}

.msg-container {
    /* margin-top: 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}